<a href="https://colab.research.google.com/github/kimjunseoalta10/PY/blob/main/%EA%B9%80%EC%A4%80%EC%84%9C_205_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print(5+2)
print(5-2)
print(5*2)
print(5/2)
print(5**2)
print(5//2)
print(5%2)

7
3
10
2.5
25
2
1

In [2]:
x= 10 %3
print(x)
y=7//3
print(y)

1
2

In [3]:
a =10
b=20
c=a+b*10-5/5
print(c)

209.0

In [4]:
x=2**3
print(x)
y=10**4
print(y)

8
10000

In [5]:
hello = '안녕' * 5
print(hello)

안녕안녕안녕안녕안녕

In [6]:
s1="대한민국"
s2="만세"
print(s1+s2)
print(s1*5)

대한민국만세
대한민국대한민국대한민국대한민국대한민국

In [7]:
print("korea+str(2021")
print(10+int("22"))
print(10+int(22.5))
print(10+ int(float(22.5)))
print("korea"+2021)

korea+str(2021
32
32
32

TypeError: ignored

In [8]:
x=10
x+=20
print(x)

30

In [9]:
a=5
a=a+1
print(a)

a=5
a+=1
print(a)

a-=5
print(a)

a*=2
print(a)

6
6
1
2

In [10]:
x=3
y=5
x*=x+y
print(x)

24

In [11]:
if 3<5 :
  print("Hello World")

Hello World

In [12]:
if 3>5 :
  print("Hello World")

In [13]:
age =int(input("몇살입니까?"))
if age<20 :
  print("학생입니다")

몇살입니까?18
학생입니다

In [14]:
age =15
if age<20 :
  print("학생입니다.")
  print("안녕히가세요.")

학생입니다.
안녕히가세요.

In [15]:
age =20
if age<20 :
  print("학생입니다.")
  print("안녕히가세요.")

In [16]:
print(3==5)
print(3!=5)
print(3<5)

False
True
True

In [17]:
x=4
print(1<x<5)

True

In [18]:
print(3=>5)

SyntaxError: ignored

In [19]:
country = "Korea"
if country =="Korea" :
  print("한국")

한국

In [20]:
age = int(input("몇살입니까?"))
if age < 20 :
  print("학생입니다.")
else :
  print("성인입니다.")

몇살입니까?18
학생입니다.

In [21]:
password = input("암호입력")
if password == "암호" :
  print("암호이다.")
else :
  print("암호가 아니다")

암호입력452
암호가 아니다

In [25]:
a=int(input("숫자입력: "))
if(a==5):
  print("5이다")
if(a>5):
  print("5보다 크다")
if(a<5):
  print("5보다 작다")

숫자입력: 5
5 이다

In [26]:
a=int(input("투입한 돈:"))
b=int(input("물건 값"))
c=a-b
print("거스름돈: ", c)
d=c//500
print("500원 동전의 개수: ", d)
e=c%500//100
print("100원 동전의 개수: ", e)

투입한 돈:2500
물건 값300
거스름돈:  2200
500원 동전의 개수:  4
100원 동전의 개수:  2

In [28]:
a=int(input("첫번째 숫자를 입력하세요:"))
b=int(input("두번째 숫자를 입력하세요:"))
if(a>b) :
  c=a-b
  print(c)
if(a<b) :
  c=b-a
  print(c)

첫번째 숫자를 입력하세요:2
두번째 숫자를 입력하세요:5
3

In [31]:
a=int(input("1(주간 근무) 또는 2(야간근무)을 입력해주세요"))
b=int(input("근무 시간을 입력해주세요 :"))
if(a==1):
  c=b*9500
  print(b,"시간 동안 일한 주간 급여는", c,"원입니다", sep="")
if(a==2):
  c=b*9500*3//2
  print(b,"시간 동안 일한 주간 급여는 ", c,"원 입니다", sep="")

1(주간 근무) 또는 2(야간근무)을 입력해주세요2
근무 시간을 입력해주세요 :55
55시간 동안 일한 주간 급여는 783750원 입니다

In [39]:
a=input("이름을 입력하세요: ")
b=int(input("일주일간 일한 시간을 입력하세요: "))
c=0
if(b>40) :
  c=b-40
  print("초과 시간: ", c)
sum=40*12000+c*12000*3//2
print(a,"님의 주급은", sum,"입니다")

이름을 입력하세요: ㅇ
일주일간 일한 시간을 입력하세요: 45
초과 시간:  5
ㅇ 님의 주급은 570000 입니다

In [35]:
print ((3==3) and (4!=3))
print((3==3)or (4!=3))
print(not(4!=3))

True
True
False

In [37]:
a=int(input("숫자를 입력하세요: "))
if(a>0):
  print("양수입니다.")
else :
  print("0 또는 음수입니다.")

숫자를 입력하세요: -100
0 또는 음수입니다.